<h2>ログイン</h2>

<hr>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, required: "required", autocomplete: "email" %>
    <% if alert %>
      <span class="">
        <strong>メールアドレスに誤りがあります</strong>
      </span>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
    <% if alert %>
      <span class="">
        <strong>パスワードに誤りがあります</strong>
      </span>
    <% end %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :次回から入力をスキップする %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>

  <div class="">
    <%= link_to "パスワードを忘れたら？", new_user_password_path %>
  </div>

  <hr>

  <div class="">
    <%= link_to 'アカウント作成', new_user_registration_path %>
  </div>
<% end %>
